<div id="<%= dom_id post %>">
  <% if action_name != "index" %>
    <%= link_to posts_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
    <% end %>
  <% end %>
  <h2 class="my-5">
    <strong class="block text-2xl mb-1"><%= post.title %></strong>
  </h2>

  <% if action_name != "index" %>
    <%= post.content %>
  <% end %>

  <p class="my-5 italic">
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>

  <hr class="mt-6">
</div>
